.contact-info {
    color: #fafafa;
    line-height: 25px;
}

.contact-info__heading {

}

.contact-info__description {

}

.contact-info__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
