.header {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-navigation {
    width: 30%;
}

.header-navigation-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style-type: none;
}

.header-navigation-list__item_link {
    color: #505f98;
    text-decoration: none;
}

.header-navigation-list__item_link:hover {
    color: #8fbde6;
    text-decoration: underline;
}

.header-title {
    font-weight: 900;
    font-size: 1.5rem;
    color: #37447e;
}

.header-buy-now {
    padding: 4px;
    width: 160px;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: #111b47;
}
